*{
    margin: 0;
    padding: 0;
}
.img_banner_vw>img{
    width: 100vw;
    height: 30vh;
    filter: brightness(0.5);
   
    
}
body{
    overflow-x: hidden;
}
.img_banner_vw{ 
     margin-top: 30px;
}
.search_job_vw{
    /* border: 1px solid yellow; */
    width: fit-content;
    position: absolute;
    top: 8%;
    left: 14%;

}
.search_job_vw>input{
    width: 530px;
    height: 47px;
    text-align: center;
    opacity: 0.9;
    border: none;
    transition: 0.2s ease-in-out;
}
/* .search_job_vw>input:hover{
    box-shadow: rgba(130, 255, 247, 0.674) 0px 5px 15px;

} */
.search_job_vw>button{
    width: 147px;
    height: 49px;
    font-weight: bolder;
    background-color: rgb(49, 117, 255);
    border: none;
    color: white;
    margin-left: -5px;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}
.search_job_vw>h3{
    color: white;
    font-family: sans-serif;
    opacity: 0.8;
    padding: 3px;
    font-size: 20px;
    
   

}
.search_job_vw>button:hover{
    background-color: rgb(77, 172, 255)  ;
    color: black;
}
#main_div_vw{
    /* border: 1px solid red; */
    width: 50%;   
    margin-left:120px;
    margin-top: 30px;
}
.container_vw{
  margin-bottom: 40px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#t1_vw{
    background-color: rgb(255, 162, 62);
    padding: 5px;
    margin-right: 12px;
    border: none;
    border-radius: 2px;
    font-family:  sans-serif;
    font-weight: bolder;
    color: rgb(41, 41, 41);
}

#t2_vw{
    background-color:white;
    font-family: Roboto,sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(56, 56, 56);
    



}
#cont_vw{
    /* border: 1px solid green; */
    display: flex;
    margin: 7px 0;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#t4_vw{
    color: rgb(0, 130, 181);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont1_vw{
    /* border: 1px solid black; */
    display:flex;
    justify-content: space-between;
    gap: 6px;
    padding: 10px;

}
.cont1_1_vw,.cont1_2_vw,.cont1_3_vw,.cont1_4_vw{
  border: 1px solid rgb(235, 235, 235);
    width:200px;
    height: 190px;
    padding: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(78, 78, 78);
}
.cont1_1_vw>img{
    width: 50%;
    height: 70px;
}

.follow_btn{
    border: none;
    background-color: rgba(175, 218, 238, 0.862);
    width: 110px;
    height: 30px;
    margin-top: 5px;
    font-weight: bold;
    color: rgb(52, 52, 52);
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.follow_btn:hover{
    background-color: rgb(57, 212, 255);
    color: rgb(0, 0, 0);
}
.star{
    color: goldenrod;
    font-weight: bolder;
    font-size: 23px;
}
.cont1_4_vw{
    font-family: sans-serif;
}
.cont1_4_vw>a>button{
    width: 110px;
    height: 35px;
    margin-top: 10px; 
    border-radius: 5px;
    transition: 0.2s ease-in-out; 
    background-color: gold;
    
    transition: 0.2s ease-in-out;
    border: none;
    color: rgb(0, 0, 0);
}
.cont1_4_vw>a>button:hover{
    background-color: rgb(252, 255, 93);
    border: 1px solid rgb(1, 1, 1);

}
.cont1_4_vw>img{
    width: 80%;
    height: 60px;
}
.cont1_4_vw>p{
    font-size: 12px;
    margin-top: 5px;
}
.container2_vw,.container3_vw{
   margin-top: 25px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 3px 8px;
    border-top: 1px solid rgb(55, 184, 254);


}
.container2_vw>h3{
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
hr{
    margin-bottom: 10px;
}
.cont2_1_vw>p{
    color: rgb(84, 84, 84);
    font-size: 16px;
    margin-bottom: 20px;
    

}
.container2_vw{
   border-top: 5px solid rgb(153, 221, 238);

}
p:nth-child(1){
color: rgb(0, 0, 0);
font-weight: bolder;
margin: 2px;
}
#remote_work{
    margin-left: 40px;
}
.cont_2_1_1{
    display: flex;
    justify-content: flex-end;
}
.cont_2_1_1>#p2{
    background-color: rgb(255, 240, 126);
    padding: 0 30px;
 
}

/* right container  */

.right_container{
    position: absolute;
    width: 320px;
    height: 430px;
    left: 64%;
    top: 17%;
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;

}
.right_container>img{
    position: relative;
    border-radius: 50%;
    width: 30%;
    left: 32%;
    top: -10%;
}
#user_name{
    width: fit-content; 
    margin: auto;
    word-spacing: 6px;
    position:relative ;
    top: -8%;
    letter-spacing:2px;
    color: rgb(12, 114, 154);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#wishList_btn{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 31%;left:0%;
    border-bottom: 1px solid rgb(0, 55, 255);
    
    border-top: 1px solid rgb(0, 55, 255);
    width: 101%;
    height: 30%;
    /* border-radius: 10px; */
    opacity: 0.7;
    background-color: rgb(195, 227, 255);
}
#wish_count,#wish_desc{
    border: 1px solid rgb(185, 185, 185);
    height: 80%;
    width:45%;
    cursor: pointer;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    color: black;
    transition: 0.3s ease-in-out;
}
#wish_count:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}
#wish_count>h5{
    margin-top: 12px;
    color:black;
    font-weight: bolder;
}
#wish_list_count{
margin-top: -12px;
font-family: cursive;
}

/* #wishList_btn>div{
} */
.range{
    width: 91%;
    background-color:rgb(139, 194, 215) ;
    height: 4px;
    opacity: 0.6;
    margin: auto;
    margin-top: -20px;
}
.right_container2{

    position: absolute;
    width: 370px;
    margin-top: 30px;
    left: 64%;
    top:73%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   
}
.right_cont2{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.r_cont2_1,.r_cont2_2{
    height: 80%;
    width: 48%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: 1px solid; */

}
#Qr_img{
    width: 80%;
    height: 81%;
    margin: 20px 3px 3px 15px;
}
#play_store_logo{
    margin: 20px 15px 0 15px;
    
}
#r_text{
    margin-bottom: 20px;
    margin: 13px;
}
#Qr_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin-top: -30px;
       padding: 6px 0 7px 8px;
       color: rgb(90, 90, 90);
}
#info_updt_btn{
    position: relative;
    width: 250px;
    height: 35px;
    color: white;
    font-weight: bolder;
    background-color: rgb(35, 121, 192);
    border: none;
    top: 27%;
    left: 11%;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    
}
#info_updt_btn:hover{
    background-color: rgb(0, 74, 179);
    border: 1px solid black;
}
.job_cards_vw{
    display: none;
   
    position: absolute;
    top: 35%;
    /* border: 1px solid red; */
    width: 50%;   
    margin-left:120px;
    margin-top: 30px;
}

/* job cards appending by javascript */
.job_card_vw{
    margin-bottom: 20px;
    height: 230px;
    font-family: sans-serifddddddd;

}
.job_cont1{
    display: flex;
}
.job_cont1_1{
    height: 180px;
    width: 27%;
    margin-left: 7%;

}
.cont2_1_2>img{
   
    height: 100%;
    width:100%;
   
}
.job_cont1_2{
   
    width: 60%;

}
.cont2_1_1_vw{
  
    height: 120px;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cont2_1-1{
width: 30%;
margin-top: 15px;


}
.cont2_1_2{
    border-right: 2px solid rgb(201, 201, 201);
  padding: 5px;
  height: 80px;
  margin-top: 15px;
    width: 17%;
    
}
#jobCompany{
    margin: 20px 0 0 17px;
    font-family: sans-serif;
}
#jobPost{
    margin: 10px 0 0 17px;
    background-color: rgb(199, 245, 255);
    width: 240px;
    height: 25px;
    padding-left: 10px;
    opacity: 0.8;

}
#click_test{
    font-weight: bolder;
}

#whishList{
    
    margin-right: 20px;
    border: none;
    width: 150px;
    height: 30px;
    background-color: rgb(117, 230, 255); 
}
#p22{
border: none;
width: 150px;
height: 30px;
background-color: rgb(255, 248, 108);
transition: 0.3s ease-in-out;

}
#p22:hover{
    background-color: black;
    color: white;
    border: 1px solid grey;
}

#container3_vw{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.gif{
    position:absolute;
    top:12%;
    left: 49%;
    z-index: 3;
    border: 1px solid yellow;
    width: 144px;
    height: 45px;
}
.gif>img{
    width: 98%;
    height: 99%;
    opacity: 0.7;
}
